<!-- Todo App Interface -->

<div id="hubbub_app">

  <div class="title">
    <h1>Items</h1>
  </div>

  <div class="content">
    <div>
        <button id="add_item_btn">Add New Item</button>
    </div>
    <div id="items">
        <ul id="item-list"></ul>
    </div>
  </div>

</div>

<!-- Partials -->

<%= render 'templates/dialog-template' %>
<%= render 'templates/item-template' %>

<!-- document.ready -->

<script type="text/javascript" charset="utf-8">
  // Load the application once the DOM is ready, using `jQuery.ready`:
  $(document).ready(function() {
    var hubbubApp = HubbubApp();
    appView = new hubbubApp.AppView();

    createAddItemDialog();

    function show() {
      // var menu = $(this);
      console.log("in ShowHover");
      // menu.children(".actions").slideDown();
    }

    function hide() { 
      // var menu = $(this);
      console.log("in hideHover");
      // menu.children(".actions").slideUp();
    }



    // $(".item").hover(show(), hide());

    // $(".item").hover(appView.showHover($(this)), appView.hideHover($(this)));

    // $(".item").hoverIntent({
    //   sensitivity: 1, // number = sensitivity threshold (must be 1 or higher)
    //   interval: 50,   // number = milliseconds for onMouseOver polling interval
    //   over: appView.showHover(),     // function = onMouseOver callback (required)
    //   timeout: 300,   // number = milliseconds delay before onMouseOut
    //   out: appView.hideHover()       // function = onMouseOut callback (required)
    // });
    
    // $(".item").hoverIntent({
    //   sensitivity: 1, // number = sensitivity threshold (must be 1 or higher)
    //   interval: 50,   // number = milliseconds for onMouseOver polling interval
    //   over: show(),     // function = onMouseOver callback (required)
    //   timeout: 300,   // number = milliseconds delay before onMouseOut
    //   out: hide()       // function = onMouseOut callback (required)
    // });
    

  });
</script>